

body {
  background-color: lightblue;
}

#header {
  height: 30px;
}

#footer {
  height: 60px;
}

#mainContent {
    position: center;
    width: 90%;
    margin:auto;
    background-color: white;
}
