body {
  background-color: lightblue;
}

#header {
  height: 30px;
}

#footer {
  height: 60px;
}

#mainWrapper {
    width: 90%;
    margin:auto;
    background-color: white;
}

#mainContent {
    margin:auto;
}
