body {
  background: url('https://cpucat.github.io/backgroundtile.gif') center center repeat;
  background-size: 2em;
}

#mainWrapper {
  width: 90%;
  height: 90%;
  margin:auto;
  background-color: white;

  padding-right: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
}

#mainContent {
  margin:auto;
  overflow: auto;
}
