body {
  background: url('/images/backgroundtile.gif') center center repeat;
  background-size: 2em;
}

table {
  border-collapse: collapse;
  width: 98%;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#mainWrapper {
  width: 90%;
  height: 90%;
  margin:auto;
  background-color: white;

  padding-right: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
}

#mainContent {
  margin:auto;
  overflow: auto;
}
