body {
  background-color: lightblue;
}

#header {
  height: 3%;
}

#footer {
  height: 7%;
}

#mainWrapper {
    width: 90%;
    height: 90%;
    margin:auto;
    background-color: white;
}

#mainContent {
    margin:auto;
    overflow: auto;
}
