body {
  background-color: grey;
}
h1 {
  text-shadow: 2px 2px 4px white;
  text-align: center;
  color: black;
  font-size: 35px;
}
p {
  font-size: 15px;
  text-shadow: 2px 2px 4px white;
  color: green;
}
a {
  font-size: 20px;
  background-color: Black;
  color: blue;
}
