body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

h1 {
  text-shadow: -8px -8px grey;
  text-align: center;
}

* {
  margin-bottom: 0px;
  text-align: center;
}

marquee {
  text-shadow: -6px -6px grey;
  text-align: left;
}

#die {
  text-shadow: -8px -8px grey;
  margin-top: 0px;
  text-align: center;
  font-size: 110px;
  color: white;
}
