body {
  background-image: url("/pictures/glitch.gif");
  background-attachment: scroll;
}
h1 {
  text-align: center;
  background-color: teal;
  color: black;
  font-size: 35px;
}
p {
  text-align: center;
  background-color: teal;
  color: black;
}

